.blogcard {
    margin-top: 32px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.blogcard__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.blogcard__date{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
}

.blogcard__heading {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
}

.blog__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    color: #fff;
}

.blogcard__role {
    display: flex;
    gap: 10px;
}

.blog__tag {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    width: 62;
    height: 30;
    padding: 8px 24px 8px 24px;
    border: 1px solid #fff;
    border-radius: 100px;
    border-width: 1px;
}

.blog__btn {
    height: 56;
    padding: 16px 32px 16px 32px;
    position: absolute;
    right: 110px;
    text-decoration: none;
    border-radius: 100px;
    border-width: 1px;
    background: #fff;
    color: black;
}
